.menuContainer {
  width: 200px;
}
.contentContainer {
  background: lightgrey;
  padding: 15px 15px 15px 25px;
  color: var(--color-primary);
  .contentOutlet {
    background: white;
    padding: 15px;
    border-radius: 10px;
    height: 100%;
  }
}